[2021-06-25 11:09] ChihChengLiang opened #1 "Write testing vectors"
### What's wrong

In order to test the circuit implementation, we need some test cases.

### How can we fix it

Work in progress here https://github.com/appliedzkp/zkevm-testing-vectors

[2021-06-25 11:15] ChihChengLiang opened #2 "Replace pasta curve in halo2 with kzg and bn curve"
### What's wrong

We want to be able to verify the proof with ETH l1 contract. pasta curve is too gas costly for that purpose.

We need to switch to kzg polynomial commitment and bn254 curve.

### How can we fix it

WIP from @kilic

[2021-06-25 11:18] ChihChengLiang opened #3 "Write some kind of bus-mapping prototype on Halo2"
### What's wrong

We want to start implementing bus-mapping.

### How can we fix it

This might involve how we do plookup on proving time (#4)

@therealyingtong and @miha-stopar are on this

[2021-06-25 11:21] ChihChengLiang opened #4 "Do plookups on proving time"
### What's wrong

Usually, plookup is introduced as the table is pre-defined at setup time. Or the table is written in the circuit.

But in our use case, we want to pass the table as the input to the circuit.

### How can we fix it

Need to find a concrete way to do this in Halo2

[2021-06-25 11:36] ChihChengLiang opened #5 "The issue of gas"
### What's wrong

The gas is a design in evm to prevent denial of service attack, so that attacker can not send an infinite loop to make the full node run the tx forever.

At the first glance, there's no need to charge gas in zkevm, since the prover can only make the proof if the computation can successfully complete.

But without gas, an attacker can perform reentry attacks on the contract. (TODO

[2021-06-25 11:40] ChihChengLiang opened #6 "The issue of revert"
### What's wrong

The evm has the REVERT opcode to mark the tx as failing but also charge the gas for the computation that already happened to prevent dos.

It seems no need to implement REVERT in the zkevm, since the proof only is only presented on l1 when the computation completes successfully.

But there are many applications depends on revert. (TODO: add examples)

[2021-06-28 19:28] vbuterin commented on #6
The reason why we need to handle reverts is that reverts can happen not just at whole-transaction-level but also inside subcalls. There are important usecases where you need to make subcalls that have the possibility of reverting, and where the transaction can still go through if the subcall reverts. Some examples include:

* Sponsored transactions (sponsor still needs to be paid if the sponsored

[2021-06-28 19:32] vbuterin commented on #5
If you don't charge gas, then what's the realistic alternative? Just limit the length of the trace? (Remember that the proof will be made by actors other than the transaction sender, so you need *some* way to limit infinite-loop transactions)

I would expect that just implementing the existing EVM gas schedule isn't actually _that_ much harder than just doing a length-of-trace check; it just requi

[2021-06-29 09:45] ChihChengLiang commented on #4
As I understand it, we have a struct called bus_mapping, which has all the memory addresses and values at each execution step.

In the state proof, we check if the memory values make sense given the read-write sequence.
And then in the evm proof, we plookup the bus_mapping table to read the memory values at a particular step and check against the mload/mstore opcodes.

[2021-06-29 09:54] ChihChengLiang commented on #3
The work is updated here https://github.com/appliedzkp/zkevm-circuits

[2021-06-29 10:14] ChihChengLiang commented on #5
In the zkrollup, the users send l2txs to a coordinator, then the coordinator builds the proof and sends it to l1. Are we talking about preventing users to send infinite loop l2tx to the coordinator?

Yeah, agree that implementing the existing EVM gas schedule sounds better than a length-of-trace check.

[2021-06-29 10:18] ChihChengLiang commented on #6
Thanks for the examples! I assume the sponsor transactions are the one defined here https://eips.ethereum.org/EIPS/eip-2711#sponsored-transactions?

[2021-06-29 11:48] vbuterin commented on #6
The general category of sponsored transactions; that's one implementation, there's also a possible implementation in the context of abstraction through user ops.

[2021-06-29 11:50] vbuterin commented on #5
In a zkrollup, yes, that would be the concern.

Ah, I was also thinking of use cases where the zkevm would be used to help clients verify Ethereum blocks.

[2021-06-29 11:51] vbuterin commented on #4
Aha I see, so it is editable memory implemented through a table (which I think is the standard way to implement editable memory in a SNARK circuit).

[2021-07-02 08:05] kilic commented on #2
In [pairing](https://github.com/kilic/pairing) repo we have bn256 pairing engine that uses same traits as halo2.

I also made kzg integration efford public [here](https://github.com/kilic/poly) that will be soon applied to the halo2 fork.

[2021-07-19 15:36] ChihChengLiang opened #7 "Add the word encoding"
### What's wrong

We currently have some word encoding methods almost ready.

To make sure they are well defined, we should add a script to feed some values and test the idea.

### How are we fixing it

Add Python script and some test cases.

[2021-07-20 03:55] #7 closed

[2021-08-03 10:51] ChihChengLiang commented on #1
current effort here https://github.com/appliedzkp/zkevm-circuits/pull/20

[2021-08-04 11:19] ChihChengLiang opened #14 "Improve existing Python code specs"
### Problem

We have spec codes like [this](https://github.com/appliedzkp/zkevm-specs/blob/master/src/encoding/addition.py) to communicate the implementation detail.

After discussion today we realize some of the following information can improve the readability for readers.

1. Specify the endianness of bytes.
2. add some of these

[code]

[2021-08-06 09:31] #14 closed

[2021-08-09 12:31] ChihChengLiang opened #16 "Move bus mapping spec here"
### Problem

We need to consolidate bus mapping from everywhere.

Current spec draft https://hackmd.io/@liangcc/zkvmbook/https%3A%2F%2Fhackmd.io%2FHfCsKWfWRT-B_k5j3LjIVw#Bus-mapping

Current WIP circuit implementation
https://github.com/appliedzkp/zkevm-circuits/pull/20

### Solution

- Port markdown files
- Define a Python class for bus mapping

[2021-08-10 13:08] barryWhiteHat opened #19 "Load contract code to be executed"
When a transaction is calling a contract we need to get the list of bytecodes that need to be executed. To do this we

1. Prove the code hash is part of the storage root.
2. Unroll the code hash accumulator adding each opcode to a mapping of index : opcode

[2021-08-10 13:16] barryWhiteHat opened #20 "Contract Create"
We need to allow for the deployment of contract code. https://github.com/appliedzkp/zkevm-specs/issues/19 allows for storage -> codehash -> evm proof we need to go the other way around going from calldata -> evm_proof -> storage.

[2021-08-10 13:22] barryWhiteHat opened #21 "Merkle Patricia Tree"
Implement the merkle patricia tree to support the first load and final store of each storage element in a block.

https://github.com/appliedzkp/zkevm-specs/issues/22 is important here too.

[2021-08-10 13:22] barryWhiteHat opened #22 "Keccak hash"
Implement keccak hash function

[2021-08-10 13:29] barryWhiteHat opened #23 "Storage permutations"
We use merkle patricia tree to load the first and storage the last value of each storage element in a block https://github.com/appliedzkp/zkevm-specs/issues/21. The rest of the storage reads and writes are handled the same way we handle memory and stack elements.

[2021-08-10 13:39] barryWhiteHat opened #24 "Memory / stack"
Memory and stack already in progress https://github.com/appliedzkp/zkevm-circuits/pull/23 need to spec them out

[2021-08-10 13:50] barryWhiteHat opened #25 "Sample arith opcode"
Spec out and clearly describe a simple opcode for arithmetic. Probably add is a good place to start https://github.com/appliedzkp/zkevm-circuits/pull/15

[2021-08-10 13:51] barryWhiteHat opened #26 "sample binary opcode"
Xor or and opcode speced out clearly

[2021-08-10 14:06] ChihChengLiang commented on #22
Referencing the issue in the circuit repo here https://github.com/appliedzkp/zkevm-circuits/issues/25

For the spec repo, we can spec out these:

1. Why do we need keccak?
2. What's the cost of keccak in terms of the circuit constraints?
3. What functions consume keccak?

[2021-08-10 14:12] barryWhiteHat opened #27 "Abstract circuit layout"
If multiple people are implementing gadgets its a concern that they will use a different circuit layout. So abstracting this will allow us ot

1. Allow many people to contribute
2. Decide on the circuit layout later.

https://github.com/appliedzkp/zkevm-circuits/pull/26

[2021-08-10 14:17] barryWhiteHat opened #28 "EVM gas"
Clearly descibe how gadgets are expected to deal with gas.

https://github.com/appliedzkp/zkevm-circuits/pull/26 explores this but having it written down is also useful.

[2021-08-10 14:21] barryWhiteHat opened #29 "EVM errors"
The way our zkevm handles errors is important to clarity. Different opcodes deal with that in different ways and have to be aware of different error cases. For example add opcode needs to be aware of two possible underflows on the stack and OOG after the operation has been completed. Defining this and having a consistent way to throw errors seems useful.

https://github.com/appliedzkp/zkevm-circui

[2021-08-13 08:36] ChihChengLiang opened #32 "Add Multiplication check"
### Problem

Need multiplication check on an EVM word to unblock mul opcode

Note that this operation is O(n^2)

[2021-08-13 08:37] ChihChengLiang opened #33 "Add addmod check"
### Problem

Spec out  addmod(a, b, n) on EVM words a, b, and n

[2021-08-13 08:38] ChihChengLiang opened #34 "Add mulmod check"
### Problem

Spec out modular multiplication mulmod(a, b, n) on EVM words a, b, and n

Might depends on #32

### Solution

See https://hackmd.io/@arielg/B13JoihA8

[2021-08-15 16:30] kilic commented on #2
You can follow up to date version from [kilic/halo2](https://github.com/kilic/halo2/tree/kzg)

[2021-08-30 08:19] ChihChengLiang opened #37 "Complete the rest of the evm proof"
### Problem

The evm proof is half specified.

### Solution

revisit when https://github.com/appliedzkp/zkevm-circuits/pull/26 is merged

[2021-08-30 08:20] ChihChengLiang commented on #16
Close in favor of #37

[2021-08-30 08:20] #16 closed

[2021-08-30 08:21] ChihChengLiang commented on #3
Initial work done here https://github.com/appliedzkp/zkevm-circuits/pull/20.

Follow up here  https://github.com/appliedzkp/zkevm-circuits

[2021-08-30 08:21] #3 closed

[2021-08-30 08:21] ChihChengLiang commented on #2
Follow up here https://github.com/appliedzkp/zkevm-circuits/issues/38

[2021-08-30 08:21] #2 closed

[2021-09-20 07:34] ChihChengLiang opened #38 "Add new LT and GT comparator to reflect the new circuit implementation"
### Background

A new comparator circuit implemented https://github.com/appliedzkp/zkevm-circuits/pull/66

The analysis is specified in this document https://hackmd.io/Vm6TOp7SQPywjEYFDFdLuQ

Need to update the spec to reflect the new implementation

[2021-09-21 04:54] gaswhat commented on #38
I can work on this item.

[2021-09-21 05:26] ChihChengLiang commented on #38
@gaswhat That would be great, thank you!

I'm thinking to do a directory structure like this. But feel free to propose otherwise.
[code]

[2021-10-21 15:18] ChihChengLiang commented on #4
After all this time we learned that

1. lookups can be natively done in halo2 API. We don't have to customize a way to do it.
2. We have a proof aggregation circuit (PAC) that aggregates proofs, and in EVM we validate the proof of PAC. But we still need to figure out how the costs of the lookup are reflected in the final proof.

Feel free to reopen.

[2021-10-21 15:28] ChihChengLiang commented on #19
@han0110 do you have a quick update on this?

[2021-10-21 15:50] barryWhiteHat commented on #23
Yeah i think that @miha-stopar has already implemented this in circuits but not sure about spec.

[2021-10-21 15:54] han0110 commented on #19
In EVM circuit, we do the following execute contract:

1. When it encounters a non-create tx or call, it checks the callee is not a precompile
2. Then it reads current `code_hash` of callee from `rw_table` and checks `code_hash` is not empty (`keccak256('')`)
3. Set next step's `opcode_source` to `code_hash`, and load the opcode using lookup to `bytecode_table` with tuple `(code_hash, program_coun

[2021-10-21 17:15] han0110 opened #56 "State and storage trie opening and incrementally update"
In State circuit we need to verify each used `account` and `storage_slot` have correct previous value: `rlp([nonce, balance, code_hash, storage_trie_hash])` and `value` respectively, with merkle patricia trie proofs, and then update each key incrementally.

The following should be described as part of [`specs/circuits/state.md`](TBD):

- How to incrementally update the trie
- How it uses circuit `

[2021-10-21 17:39] han0110 opened #57 "Bytecode circuit for bytecode lookup"
In EVM circuit we need to load opcode from contract bytecode at a random index, which could be done with a Bytecode circuit as a lookup table which contains a set of tuple `(code_hash, index, opcode)` and each `code_hash` is verified to be correct responding to the opcodes it contains.

The following should be described as part of [`specs/circuits/bytecode.md`](TBD):

- How `code_hash` is verified

[2021-10-22 13:18] #21 closed, assigned to nobody

[2021-10-29 06:24] miha-stopar opened #62 "Add EQ to LT & GT opcode"
LT gadget implementation is being modified [here](https://github.com/appliedzkp/zkevm-circuits/pull/120). We need to make the specs to reflect these changes (for example EQ is to be added).

[2021-10-29 11:39] han0110 opened #64 "Finish all target of read-write consistency check"
In State circuit we need to verify kinds of access records are consistent between different writes.

The following should be described as part of [`specs/circuits/state.md`](TBD):

- What's the data contained in different kinds of target
- For different kinds of target, what's the constraints of:
  - Grouping different unit
  - Writing value
- How to calculate the total meaningful access records

[2021-10-29 11:49] han0110 opened #65 "Transaction signature verification"
In Tx circuit, we need to verify each transaction has valid signature.

The following should be described as part of [`specs/circuits/tx.md`](TBD):

- How it RLP encodes transaction and verify hash is correct using circuit `keccak256` by lookup
- How it recovers address from signature

[2021-11-03 12:39] han0110 opened #66 "`is_code` annotation for `JUMP*`"
As @DreamWuGit mentioned, when handling `JUMP*` we not only need to verify the destination is a `JUMPDEST`, but also check it's not data section or a `PUSH*`. Only looking back 32 opcodes would cause false alarm since they could also be data of further back `PUSH*`, we need recursively look back to make sure it's indeed data of some `PUSH*`, which turns the `JUMP*` to be a multi-step opcode. For s

[2021-11-11 15:04] DreamWuGit opened #70 "add MaxCodeSize range check when program counter act as witness"
there is an MaxCodeSize limit for contract code bytes capacity in evm,  I realized  that we should constrain  such range  when pc as witness in the circuit , this can be implicitly property as op code itself maybe do not check it explicitly,   i.e. 'pc' op code.
What do you think about it ? @ChihChengLiang  @han0110

[2021-11-11 16:25] han0110 commented on #70
The `program_counter` is always propagated between step, and the difference between step is always deterministic, so I think we don't need to worry about its range, right? If it's out of range, we should return a implicit `STOP` and the execution stops.

[2021-11-12 01:30] DreamWuGit commented on #70
when i compose jump circuit, which takes me to consider the jump dest value validity affair,  this remind me of the MaxCodeSize limitation of evm as well as 'pc' op code.
 I am not sure if MaxCodeSize really does matter so far,  but I just add it in jump spec #67 for in case . put it here  to collect more ideas .

[2021-11-12 06:13] han0110 commented on #70
For `JUMP*`'s successful case, we don't need to explicitly verify if the destination is in range, the lookup already did for us (if out of range, we lookup nothing).

However, for invalid jump case, we need to verify 2 possible cases:

1. Destination is out of range
2. Destination is not a `JUMPDEST` or it's not annotated `is_code`

For the first case, we need the range lookup to compare them, and

[2021-11-15 23:32] kilic commented on #34
@ChihChengLiang In non native arithmetic side we're closely following the approach from AZTEC team. However our side is actually not very generic and we can easily check some boundaries in construction. For now I'm not sure if it can be simply generalized for very generic mulmod opcode

[2021-11-25 07:37] #26 closed

[2021-11-25 09:14] spartucus commented on #2
Hi, if we replace pasta curve with kzg and bn curve, is it possible to do recursive proof?

[2021-11-25 12:39] barryWhiteHat opened #71 "gasBlockLimit to define # rows"
The state / evm  circuits have the number of rows in the circuit defined as setup parameter. It would be good to replace this # of rows with the amount of gas that circuit supports.

This involves some tricky calculations. Taking the state circuit as an example.

The state circuit supports memory and stack operations at the moment. In order to support `gasBlocLimit` gas we would need to ensure tha

[2021-11-29 05:51] ChihChengLiang commented on #2
@spartucus I don't think so. Do you still need recursive proof?

[2021-11-29 06:24] spartucus commented on #2
Hi @ChihChengLiang , you mean in our zkEVM scheme, there is not need to use recursive proof? So for different contract all transactions, those are just different witness data with different lookup table? All the universal parts are just EVM circuit which handles opcode, byte circuit, MPT circuit, ECDSA circuit, etc.  Do I understand correctly?

[2021-11-29 09:28] ChihChengLiang commented on #2
@spartucus we don't plan to use recursive proof.
IIUC, the lookup tables are part of the circuit. At the end of the day, we'll have gates and lookups, all in the form of polynomial commitment openings in kzg curve. We then have a proof aggregation circuit to turn those openings in a simple pairing check on the mainnet.

[2021-11-29 09:50] spartucus commented on #2
Yes, lookup tables are part of circuit.

Great, I got the point. Thanks for your reply :)

[2021-11-30 01:44] DreamWuGit commented on #71
how about storage rows count ? is it supposed to exclude ?

[2021-12-04 07:00] han0110 commented on #71
For `MLOAD` and `MSTORE` it would be 32 rows in memory circuit + 2 rows in stack circuit because we take care of them byte to byte, and one can abuse this by having bytecode like:

[code]

So the estimation on the rows seems to be `34 * gasBlockLimit / 3`

[2021-12-04 07:52] han0110 opened #73 "Executed bytecode source for opcode lookup"
In EVM there are 3 different sources for executed bytecode:

1. When contract interaction, it's from **contract's bytecode**
2. When contract creation in root call, it's from **transaction's calldata**
3. When contract creation in internal call, it's from **caller's memory**

To avoid too much complexity on EVM circuit, we try to remove 3. by explicitly copying the caller's memory to `bytecode_tab

[2021-12-06 10:21] DreamWuGit opened #75 "handle block related op codes"
there is kind of op codes referring to block properties , i.e. Blockhash, Coinbase,  gas limit, Difficulty, Timestamp etc.   except `Blockhash`  requires Keccak256 hash operation, others behave similarly:
 getting target property from block context and push to stack , also with some type conversion  sometimes.

for `Blockhash`  need separated handling regarding to Keccak256 circuit.
for others ,

[2021-12-07 11:02] barryWhiteHat commented on #75
This makes sense. I think that we should start by building a table (block_constants_table) of these constants in the verifier contract similar to [here](https://github.com/appliedzkp/zkevm-circuits/issues/122)

From there we have two choices
1. In the evm proof get the value from that table, then add a push to the bus mapping that tells the start circuit to do that push.
2. In the evm proof pass a

[2021-12-08 04:02] han0110 commented on #75
I think we would have built block hashes in layer1 contract for fast retrieval instead of calculating previous block hashes on the fly. Does it make sense to store previous 256 block hashes in layer1 contract @barryWhiteHat?

Also In my WIP [`call-and-stop`](https://github.com/han0110/zkevm-specs/tree/feature/call-and-stop) branch, I was trying to propose the similar approach, to put block context

[2021-12-08 04:21] DreamWuGit commented on #75
I think new dependent table instead of combing with tx_lookup table seems semantical reasonable,  I draft one spec here:  https://hackmd.io/_odTfR3jTCWYE1NxhLjMVw?view
welcome to have a look & hear your voice  !

[2021-12-08 04:26] Brechtpd commented on #75
This kind of came up in a similar discussion I had with Barry, but using an L2 contract seems an elegant solution to handle the block hashes. There's even an EIP for this that would make Ethereum itself work in the same way, so we can use this as a reference: https://github.com/ethereum/EIPs/blob/e2f2cc8790c2ac22e1079f48b623bdf200379749/EIPS/eip-2935.md

So no need for special lookup tables for th

[2021-12-08 04:30] han0110 commented on #75
Ah cool, `EIP2935` makes things much cleaner and less public inputs.

[2021-12-08 08:40] DreamWuGit commented on #75
Good idea! Making L2 contract to store block hashes requires L2 to develop a dedicated contract (sounds like precompile system contract ) and modify geth to pipe new block hash into it when new block generates, Do we have plan for this part work ?

[2021-12-08 11:10] barryWhiteHat commented on #75
I think it would be good to wait on doing EIP2935 for now. I want to avoid adding more changes to geth if we can avoid them.

Yeah i think this should do for now.

welcome to have a look & hear your voice !

I am not sure of the best table format maybe @han0110 has a better idea. Seems so far we have

1. Bus mapping: Stuff that changes at each opcode
2. Tx constants : Stuff that changes per TX
3.

[2021-12-08 13:36] #29 closed

[2021-12-08 14:44] han0110 commented on #75
I think the only thing that might need lookup is the `BLOCKHASH`, it pops `block_number` from stack to decide which block to read, if we use copy constraint, we need to copy 256 values at each step and select one of them, which I think it's somehow not efficient. For other block constants we can just use copy constraint to read the accurate data directly.

So if `EIP2935` is not adopted for now, a

[2021-12-08 15:24] barryWhiteHat commented on #75
Why don't we want to add more lookup tables ?  for me that seems like the simplest approach for this.

[2021-12-08 15:54] han0110 commented on #75
I thought that since `EIP2935` is mentioned, not adding extra table or not using extra lookup would be preferred. I also agree using an extra `block_table` would be the simplest approach to implement.

[2021-12-08 18:53] Brechtpd commented on #75
I think the `EIP2935` approach doesn't really _require_ geth changes. The implementation for the `BLOCKHASH` opcode we would just have to change to an `SLOAD` on the zkEVM side, doesn't really matter what geth does I think. For storing the block hashes inside the L2 contract we could just enforce the 1st transaction (or the last transaction, depending on what is easiest) in a block to be some L2 t

[2021-12-10 11:09] DreamWuGit commented on #75
I look at the  at #77 , agree with Non blockhash constant (number, coinbase, gaslimit .etc. ) wrapping into instruction  and use directly without lookup, which seems easily constrains building , I am doing `coinbase` op code base that.
but the block hash contains much size data,  increasing heavily with the step number increasing.   in the most case the  circuit's step number should be not small I

[2021-12-10 14:59] Brechtpd commented on #75
I don't think the `SLOAD` can ever return an error because as far as I'm aware all the storage for all addresses always exist. But yeah, you probably don't want to deploy these special contracts with normal transactions (because that needs additional rules like you said) but just directly store them in the genesis Merkle tree.

[2022-01-05 09:21] han0110 commented on #75
As `block_table` added in #77, some field of them exist as random linear combination, others don't. The reason to have them as random linear combination was because their range is not specifically limited in yellow paper, and I thought they might not fit in field in some way.

https://github.com/appliedzkp/zkevm-specs/blob/1564d6829bcdeb2f66df4a28b0d87eb6b85bce98/src/zkevm_specs/evm/typing.py#L40-

[2022-01-06 02:46] DreamWuGit commented on #75
I think this is relevant to how to construct account table( or anywhere,) associating to balance about raw value use,  right?  about `gas_limit` my current understanding is set to `gas_left` = `gas_limit` at the first step of block.
from stack operation perspective, all needs random linear combination .

[2022-01-06 03:28] han0110 commented on #75
Yes, from stack operation perspective, all needs random linear combination.

The way I tried to propose to construct the read-write table (containing the account read/write) is to use have less-bit keys as possible, because we need to verify that they are sorted. So I prefer to have `account_address` exists as raw value there. And from the perspective of `*CALL*`/`CREATE*`, the popped/created addr

[2022-01-06 09:59] DreamWuGit commented on #75
sounds good , but if the work is still in early stage , I tend to keep them unchanged for now,  can do it later and more time revisit & consideration

[2022-01-06 16:14] ChihChengLiang commented on #70
Looks like this issue is resolved?
The JUMP and JUMPI have already indirectly enforced the MaxCodeSize range check. https://github.com/appliedzkp/zkevm-specs/blob/35e95d9970464e7fdc27440fa413ea4a17792b87/src/zkevm_specs/evm/execution/jump.py#L9-L10

Closing now, feel free to reopen if we have something to add.

[2022-01-06 16:14] #70 closed

[2022-01-12 12:29] han0110 commented on #64
For more detailed rationale, please refer to https://hackmd.io/VCGteyZEQFKUjHA_A72f1Q.

[2022-01-12 15:43] ed255 opened #86 "handle call related opcodes"
- [x] `0x33`: `CALLER`: call context lookup, stack push https://github.com/appliedzkp/zkevm-specs/pull/90
- [x] `0x34`: `CALLVALUE`: call context lookup, stack push https://github.com/appliedzkp/zkevm-specs/pull/96
- [x] `0x35`: `CALLDATALOAD`: call context lookup + index, stack push @CPerezz
- [x] `0x36`: `CALLDATASIZE`: call context lookup, stack push https://github.com/appliedzkp/zkevm-specs/pu

[2022-01-12 15:52] ed255 opened #87 "handle tx related opcodes"
- [ ] `0x32`: `ORIGIN`: tx lookup, stack push
- [ ] `0x3A`: `GASPRICE`: tx lookup, stack push

[2022-01-13 01:34] han0110 commented on #66
Resolved by #74

[2022-01-13 01:34] #66 closed

[2022-01-13 01:35] han0110 commented on #57
Resolved by #74

[2022-01-13 01:35] #57 closed

[2022-01-13 01:51] DreamWuGit opened #89 "evm irrelevant bock fields"
there are some block fields as following(mark with prefix *) which are evm irrelevant, in other words, evm do  not use or access them directly, and they ought to be not include in evm circuit,  however, does the Layer1 contract will need them eventually for sanity checking ?

[code]
from my current perspective,  for the `stateRoot`, `transactionsRoot`, `receiptsRoot` seems make sense to layer1, bu

[2022-01-13 09:14] barryWhiteHat commented on #89
I think Root is still important for deposits and things like that. Also some smart contract use the current or previous roots to look things up. Same with tX_hash

Totally agree on the rest would also include Difficulty.

For these we can probably set them to a dummy constants for zkrollup use case.

[2022-01-14 07:26] icemelon commented on #86
I'm working on the `CALLDATACOPY` and the circuit part is almost done. Will refactor the previous [spec](https://github.com/appliedzkp/zkevm-specs/pull/63) based on the circuit implementation next week.

[2022-01-18 14:52] ed255 commented on #86
I'm going to work on `CALLVALUE`, `CALLDATALOAD` and `CALLDATASIZE`.

[2022-01-20 08:37] DreamWuGit opened #97 "handle log related op codes"
there are five log related op codes of evm as below:

| id  | name | comment |
| --- | -----| ------- |
| A0  | LOG0 | Append log record with no topics    |
| A1  | LOG1 | Append log record with one topic    |
| A2  | LOG2 | Append log record with two topics   |
| A3  | LOG3 | Append log record with three topics |
| A4  | LOG4 | Append log record with four topics  |.

they associates with stack, m

[2022-01-20 09:01] roynalnaruto commented on #86
@ed255 Are you also going to do the circuit for `CALLDATASIZE` in the [Circuits Repo](https://github.com/appliedzkp/zkevm-circuits) ?

I already had a [WIP Draft PR](https://github.com/scroll-tech/zkevm-circuits/pull/80) which I can continue finishing if you haven't started working on it :)

[2022-01-20 10:24] ed255 commented on #86
I was planning to but I haven't started yet :P

Please continue working on it!

I did start working on the `CALLVALUE` circuit implementation, so I'll continue that :)

[2022-01-20 11:38] barryWhiteHat opened #98 "handle construction of block header"
The EVM constructs a [blockheader](https://ethereum.github.io/yellowpaper/paper.pdf#subsection.4.3) that continents the new state root but also several pieces of meta data these include.

At the moment [`endBlock`](https://github.com/appliedzkp/zkevm-specs/pull/88/files#diff-aa44b9213476adde5c03ae2a3921372dd2eda9faf199b67e5d4e2ce875e34842) finalizes the block. we would need to either extend endBlo

[2022-01-21 02:33] DreamWuGit commented on #89
Yes， I say `stateRoot ` for `Root`, `transactionsRoot` for `TxHash` :),  moreover ,I see the `ReceiptHash ` also count for tx logs which evm operates to write.

[2022-01-21 02:39] DreamWuGit commented on #97
add description of initial idea here https://hackmd.io/fj9yRzrfRkyKgcrw5xBAgg?view, welcome to comments!

[2022-01-21 09:36] barryWhiteHat commented on #89
I would say that we should treat the irrelevant block feilds like post merge eht does

https://github.com/appliedzkp/zkevm-specs/issues/98

That way its easier for devs to deploy their apps without worrying about these irreverent fields.

[2022-01-21 16:42] ed255 opened #101 "Use 32 byte RLC in simple opcode gadgets instead of variable byte RLC"
Currently different opcode gadgets use different number of bytes for RLC encoding depending on the type of data when doing lookups.

For example, for CALLER we use 20 bytes, for CALLDATASIZE we use 5 bytes.

Following a discussion with @han0110: we could reuse the constraints to encode a 32 byte RLC in all places as an optimization.

See more details in the original discussion: https://github.com/

[2022-01-22 09:01] han0110 opened #102 "Retrieve code `length`"
Currently we can use lookup with input `(hash, index, byte, is_code)` to `bytecode_table` to retrieve the `byte` at specific `index`. However, we haven't taken the `length` of code into too much consideration, which is required for several places:

1. `CODESIZE`, `EXTCODESIZE`
2. `PUHS*`, `CODECOPY`, `EXTCODECOPY` right padding

    When copying out of code bound, implicit `STOP`s will be copied.

[2022-01-24 10:39] #23 closed

[2022-01-25 08:18] ChihChengLiang commented on #101
@kilic, are your concerns about ECC multiplication cycles related to this?

[2022-01-25 15:35] ed255 commented on #102
I think the right padding behavior also happens when accessing call data with `CALLDATALOAD` and `CALLDATACOPY`
- CALLDATALOAD: https://github.com/ethereum/go-ethereum/blob/015fde9a2c/core/vm/instructions.go#L286
- CALLDATACOPY: https://github.com/ethereum/go-ethereum/blob/015fde9a2c/core/vm/instructions.go#L312
- getData definition: https://github.com/ethereum/go-ethereum/blob/015fde9a2c/core/vm/

[2022-01-26 04:45] han0110 commented on #102
Yes. More precisely, for sources:

1. Bytecode in `bytecode_table`
2. Memory of caller/callee in `rw_table`
3. Calldata in `tx_table`

the strategy is similar, we do:

1. Lookup `length`, and get selectors `q_lookups` by `q_lookups = [i < t for i in range(min(offset + N, length))]`, where `N` is a fixed amount we decide to lookup for a step (or depends on opcode itself like `*` of `PUSH*`).
2. Ena

[2022-02-08 04:00] DreamWuGit commented on #102
@roynalnaruto starts to do `CODECOPY ` circuit implementation work, can have a look !

[2022-02-08 13:04] ChihChengLiang opened #114 "Adding mypy checks"
### Problem

As the python codebase grows, it might be a good idea to enforce the mypy checks for the consistency of types.

### Solution

- Add mypy dependency
- Add mypy check to Makefile
- Run the check in CI
- Fix all the typing errors (found 180 currently)

Better add it after #109 is complete to prevent duplicated work since it introduced many type changes.

[2022-02-08 13:46] CPerezz commented on #87
I think I'll take `GASPRICE` so that I can do it while working on keccak. To take some breaks! :sweat_smile:

[2022-02-15 16:54] CPerezz commented on #114
I would have had appreciated a lot to have that after before working on #119 :rofl:

[2022-02-17 09:01] ChihChengLiang opened #121 "[Opcode] 0x32 ORIGIN"
tx lookup, stack push

Track the task here instead of #87

[2022-02-17 11:11] CPerezz commented on #86
`CALLDATALOAD` is still missing. We should wait until we merge specs for it to close this issue no? @ChihChengLiang

[2022-02-17 11:46] ChihChengLiang commented on #86
Yeah, sorry github auto merge it. Let's wait for the CALLDATALOAD

[2022-02-17 13:08] ChihChengLiang opened #122 "Fix the rest of the typings"
- [ ] src/zkevm_specs/evm/main.py:
- [ ] src/zkevm_specs/evm/execution/__init__.py:
- [ ] src/zkevm_specs/evm/execution/add.py:
- [ ] src/zkevm_specs/evm/execution/begin_tx.py:
- [ ] src/zkevm_specs/evm/execution/block_coinbase.py:
- [ ] src/zkevm_specs/evm/execution/block_timestamp.py:
- [ ] src/zkevm_specs/evm/execution/calldatacopy.py:
- [ ] src/zkevm_specs/evm/execution/calldatasize.py:
- [ ]

[2022-02-18 05:12] HAOYUatHZ opened #123 "reflect circuit behavior in `sload` & `sstore` spec"
we should use `is_equal` and `select` to reflect circuit behavior in `sload` & `sstore` spec

as discussed in https://github.com/appliedzkp/zkevm-specs/pull/106#discussion_r808936175

[2022-02-21 10:15] ed255 opened #127 "Update key columns in rw_table"
In https://github.com/appliedzkp/zkevm-specs/pull/118 we updated the state circuit spec.
Previously there were 4 key columns in `rw_table`.  In order to maintain keys of type ethereum address separate, we introduced a new column (and made some rearangements of key usage).

We need to update `table.py` and the usage of rw_table accordingly.

[2022-02-21 10:30] ChihChengLiang commented on #122
close with #116

[2022-02-21 10:30] #122 closed

[2022-02-23 03:02] HAOYUatHZ commented on #123
example: https://github.com/scroll-tech/zkevm-specs/pull/38/files

The `sload` part is done, and we need to finish it for `sstore`.
1. use constraints, instead of `if-else` to calculate `dynamic_gas_cost` and `gas_refund_new`
1.1. we only need to do it in src/zkevm_specs/evm/execution/storage.py, no need to do it in tests/evm/test_sstore.py.
2. note that gas_refund change can be incremental (`if..

[2022-02-24 12:16] ed255 opened #130 "Write the spec of the TxCircuit"
Related discussion: https://github.com/appliedzkp/zkevm-circuits/issues/122

[2022-02-25 10:46] ed255 opened #133 "Update fixed table"
In https://github.com/appliedzkp/zkevm-specs/pull/110
The following tags are removed from the fixed table:
- InvalidOpcode
- StateWriteOpcode
- StackOverflow
- StackUnderflow

[2022-02-25 15:04] #121 closed

[2022-02-25 17:57] han0110 commented on #133
I should just update them in #110 as well, thanks for reminding!

[2022-02-26 18:20] han0110 opened #134 "`CALLDATACOPY` should read caller's memory"
Currently `CALLDATACOPY` is implemented to read its own memory when `not is_root` (without `call_id` specified):

https://github.com/appliedzkp/zkevm-specs/blob/af758f49341fa11f2bc8d47a0e71d5b3eed1de13/src/zkevm_specs/evm/execution/memory_copy.py#L22-L33

We can fix this by extend the field `tx_id` of `CopyToMemoryAuxData` to `src_id`, to contain a `tx_id` when `from_tx`, and `caller_id` when `not

[2022-03-01 14:47] ed255 opened #135 "Discussion about RLC requirements and alternatives"
# Introduction

In the current design we use the RLC to compress an EVM Word into a single field element, allowing us to encode a word witness in a single cell, and enforce equality between words using a single cell for each word.

The RLC is defined as:
[code]
Where `w` is the encoded word, and `w[i]` is the i-th byte of the word in little endian, and `r` is a random value (challenge for the prov

[2022-03-03 12:10] #123 closed

[2022-03-11 02:15] DreamWuGit opened #141 "state circuit for log/receipt RW table section"
As @ed255 and @CPerezz mentioned in pr [discussion](https://github.com/appliedzkp/zkevm-specs/pull/125#discussion_r823794931) ,  we requires `TxLog` section constraint in state circuit ,  need  more discussion and detail design for that part !

[2022-03-11 05:57] ChihChengLiang opened #142 "Spec out Keccak permutation"
We should add the spec of the keccak circuit here so that it can be audited and reviewed.

Created this issue for the permutation part

[2022-03-11 05:58] ChihChengLiang opened #143 "Spec out Keccak Sponge part"
This includes how Keccak takes multiple inputs and adds padding to them.

[2022-03-11 06:00] ChihChengLiang commented on #142
Existing one here https://hackmd.io/sK7v0lr8Txi1bgION1rRpw. Now we learned so much, many can be written in a better way.

[2022-03-11 06:41] ChihChengLiang opened #144 "Spec out differences in the validity proof and zkrollup design"
As the project grows, the designs between validity proof and zkrollup start to diverge.

For example, an EIP1559 design makes sense in the context of validity proof but not of zkrollup. https://github.com/appliedzkp/zkevm-circuits/issues/69. We should move them into the spec of validity proof but not the one in zkrollup.

In this issue, we propose specifying the difference in this same repo. So th

[2022-03-11 09:14] CPerezz commented on #141
A few concerns/ideas arised from this.
It will be nice to wait until @han0110 is back to resume this. But of course we can trigger the discussion.

I thought about several things.
1) Force bus-mapping to treat logs as another StorageOp and allow for a much easier construction of the storage checks for the generated/reverted logs (Even reversion will work differently here as no state is changed at

[2022-03-11 09:22] CPerezz commented on #141
cc @barryWhiteHat

[2022-03-14 15:14] han0110 opened #146 "Execution of calling to account with empty code"
In Ethereum yellowpaper, the message call function <img src="https://render.githubusercontent.com/render/math?math={\color{white}{\Theta}}#gh-dark-mode-only" /><img src="https://render.githubusercontent.com/render/math?math={\Theta}#gh-light-mode-only" /> [^yellowpaper-ch-8] has not specifically mentioned how to handle when the recipient has empty code (please correct me if you find the definition

[2022-03-14 16:54] ed255 commented on #146
The proposal of executing a single STOP when the account doesn't have code seems completely reasonable and sound to me!

I see this as the same behavior that happens in the execution when the end of the bytecode is reached without a terminating opcode, and then a byte outside the code is read as 0x00 leading to the execution of the STOP opcode; but here we're just encountering this behavior at the

[2022-03-15 03:33] han0110 commented on #146
Yeah, `STOP` needs to deal with "indexing code out of range" anyway, which is a TODO in #100 since we haven't decided how to retrieve code length (if no new proposal, I would just extend bytecode circuit as you proposed in https://github.com/appliedzkp/zkevm-specs/issues/102#issuecomment-1021313975 after I finish `CALL`).

[2022-03-15 10:07] han0110 commented on #141
For whether to track `log_index` in `StepState` or not, I think we don't need to as Edu mentioned in https://github.com/appliedzkp/zkevm-specs/pull/125#discussion_r821592254 [^log-index-auto-increment]. And the `log_index` as "index of log in receipt" instead of "in the whole block" makes more sense to me, also we might want `log_length` and `data_length` to be recorded for rlp encoding and `bloom

[2022-03-16 01:54] DreamWuGit commented on #141
@han0110  evm  `log_index ` [raw definition](https://github.com/ethereum/go-ethereum/blob/master/core/types/log.go#L50L51) represents index of the block,  as one receipt can hold a set of logs,  index of receipt can not identify definite log entry.    since  `log_index `(BTW, renamed to `log_id` now) can located each log entry, so removed the `tx_id` before.

you mean bloom function will import ne

[2022-03-16 02:12] han0110 commented on #141
I think that field is for higher level usage, in receipt RLP encoding, such information is not encoded [^receipt-definition], so in my mind we don't actually need to record that. I couldn't find how to infer the `tx_id` by `log_id` in #125, would you like to elaborate more on this? Because when we are building the receipt trie, we need to know which specific tx the log belongs to.

I think so, it

[2022-03-16 09:20] DreamWuGit commented on #141
after chat with @han0110 in tg ,  we agree to  revisit & defer these consideration change  to future PR of  log state circuit/receipt tree circuit,  thanks!

[2022-03-17 06:47] HAOYUatHZ commented on #114
seems we can close this via https://github.com/appliedzkp/zkevm-specs/pull/132?

[2022-03-17 07:18] #114 closed

[2022-03-18 03:13] DreamWuGit commented on #141
draft some ideas regarding state circuit part [here](https://hackmd.io/7iI0736UToO-w01RKxEevw?view) ， some need more classification, nice to see your comments!

[2022-03-18 04:03] icemelon commented on #146
This makes sense to me! IIUC, it's just handled in the lookup to bytecode table, and it won't affect the bytecode circuit and storage circuit when computing the hash of the account with empty bytecode array. Am I correct?

[2022-03-18 04:03] icemelon commented on #134
I will address this in both spec and circuit

[2022-03-18 06:51] roynalnaruto commented on #102
@han0110 I've added the above proposed additions with further constraints ([Refer this](https://github.com/appliedzkp/zkevm-specs/pull/148/commits/22955ef35a761a658cc160996375ec255c063cfe))

[2022-03-18 07:40] han0110 commented on #146
I think Bytecode circuit still needs to be updated to support tag (`Length` and `Byte`), then for `ExecutionState::STOP`, we checks either:

1.  `bytecode_lookup(code_hash, Length, 0).value == program_counter`
2. `bytecode_lookup(code_hash, Byte, program_counter).value == Opcode::STOP`

[2022-03-18 15:20] han0110 opened #151 "Refactor Bytecode circuit to be a finite state machine"
Currently Bytecode circuit is implemented with access to previous row, and with `is_final` indicator as main constraint flag, which seems not that straightforward to think about all kinds of possible branches.

This note proposes another way to implement it, by treating Bytecode circuit as a finite state machine just like EVM circuit, but with only 2 state: `Length` and  `Byte`. The pseudo code lo

[2022-03-18 18:53] icemelon commented on #146
Makes sense. @roynalnaruto is working on the support `Length` and `Byte` in the Bytecode lookup table. You can also handle this issue at the same time.

[2022-03-21 04:47] DreamWuGit commented on #141
@CPerezz  replied your comment , @han0110 @ed255  @ChihChengLiang  could you please also have a look ?

[2022-03-21 17:00] ed255 commented on #151
Currently the bytecode circuit has the following columns (10 advice columns, 2 fixed):
- q_first
- q_last
- hash
- index
- byte
- is_code
- push_data_left
- hash_rlc
- hash_length
- byte_push_size
- is_final
- padding

And your proposal has (8 advice columns, 2 fixed):
- 'q_is_fixed'
- 'q_is_last'
- 'tag'
- 'length'
- 'index'
- 'value'
- 'is_code'
- 'push_data_left'
- 'hash'
- 'value_rlc'

If I un

[2022-03-22 01:43] han0110 commented on #151
@ed255 Thanks for the comparing table! I made some naming change and I should add the reference directly in the pseudo code.

[2022-03-22 01:44] han0110 commented on #151
@Brechtpd You are right! Let me update the pseudo code with this improvement.

I missed byte range check actually, I think it still needs to be checked, let me bring `byte_push_size` back. Although like you said, keccak circuit might already do this, but I think it's fine to directly check here for now, we can remove it when we find it not necessary in the future.

[2022-03-22 11:50] ChihChengLiang opened #154 "Switch to mdbook"
### Problem

We are adding more Latex to the spec.

mdBook is the tool we use in the docs repo too https://github.com/appliedzkp/zkevm-docs

It can also render a document site on GitHub page.

[2022-03-22 14:48] CPerezz commented on #135
Discussing now with @ed255 about keccak talbe here: https://github.com/appliedzkp/zkevm-specs/pull/150#discussion_r832128562

We saw that would be really nice to finally define this so that we can make further considerations in our circuit designs.
Maybe a topic to discuss in the weekly call @barryWhiteHat @ChihChengLiang @ed255 ?

[2022-03-23 12:40] ed255 opened #158 "Review keccak table layout in tx circuit"
From https://github.com/appliedzkp/zkevm-specs/pull/150#pullrequestreview-918615587

The Tx circuit contains a model of the keccak table with a layout that may not be final.  Once the keccak table layout is stabilized we should review the Tx Circuit and update the Keccak Table class if necessary.

Current keccak input spec PR: https://github.com/appliedzkp/zkevm-specs/pull/147

[2022-03-23 17:21] ed255 opened #160 "State Circuit key columns reorg: move memoryAddress and stackAddress to key2"
From https://github.com/appliedzkp/zkevm-specs/pull/152#issuecomment-1075870399

[z2trillion](https://github.com/z2trillion) is assigned to this issue

[2022-03-27 17:10] roynalnaruto opened #164 "Circuit for RLP-encoding verification"
Design Document: https://hackmd.io/@rohitnarurkar/S1zSz0KM9

Any reviews/comments on the above document are appreciated.

[2022-03-28 09:26] miha-stopar commented on #164
Looks nice!! I have a couple questions (couldn't edit the document, so I am writing it here):
- Seems like for `value_rlc` there is first little-endian used and then down below in the constraints it's big-endian. Typo?
- Is the overall length checked (like 2054 in the third example), I can see the internal lengths are checked, but not sure about the overall?
- Could the attacker try to omit the `L

[2022-03-28 13:57] roynalnaruto commented on #164
@miha-stopar You can post comments in the hackmd document :)

`value_rlc` is simply an accumulator over all the bytes in the RLP-encoded data:
[code]
I did not really specify endianness for this.

Yes, every row is assigned an incremental `index` column, and for the final row (`is_final == 1`) we are looking up the tuple `(value_rlc, n, hash)`. So an incremental index should start at `0` and end a

[2022-03-29 08:12] miha-stopar commented on #164
True, I didn't think of that option. Replying there :)

[2022-03-29 12:32] #160 closed

[2022-04-01 07:21] han0110 commented on #102
Closed by #148

[2022-04-01 07:21] #102 closed

[2022-04-06 02:41] han0110 opened #171 "Missing `ExecutionState` transition constraint to special ones"
Currently in `CALLDATACOPY` and `CODECOPY` it defines the next step' state and auxiliary data when the `length` of bytes to copy is greater than `0`. But when the `length` is `0`, it doesn't define the next step's state and auxiliary data, which allows a malicious prover to start to copy from any source to any destination.

Such special `ExecutionState` transition needs to be taken extra care of b

[2022-04-06 09:09] han0110 opened #174 "Remove EIP-1559 logics from `EndTx`"
Currently EIP-1559 is not included in our testnet (see all the excluded EIPs [here](https://github.com/appliedzkp/zkevm-chain/tree/master/docs#layer-2---go-ethereum)), but it's implemented in `EndTx` earlier, we should remove its logic to make it compatible with the testnet configuration.

[2022-04-06 20:27] icemelon commented on #171
Agree. It is a loophole in the EVM circuit.

I think the 2nd approach is better because in option 1 we need to constrain the next step's state cannot be any of  `Copy*To*` states. But in the long term, we should eliminate all `Copy*To*` states and use copy circuit to perform the copy.

I can work on a temporary fix with option 2 for now. WDYT?

[2022-04-07 01:51] han0110 commented on #171
Yeah, a fix by option 2 sounds good to me.

[2022-04-07 02:06] han0110 opened #175 "Move `responsible_opcode_lookup` check out of `step_state_transition_in_same_context`"
In regard to https://github.com/appliedzkp/zkevm-specs/pull/168#discussion_r843704611, the methods `step_state_transition_*` should only take care of `StepState`'s stuff (otherwise can't tell what it also include e.g. responsible opcode check), and `responsible_opcode_lookup` in the future might also be used on exception states, so it should be moved out from `step_state_transition_in_same_context

[2022-04-08 01:40] DreamWuGit commented on #75
Status list to track :
- [x] coinbase
- [x] timestamp
- [ ] chainId (handle as block variable in PR[ #432](https://github.com/appliedzkp/zkevm-circuits/pull/432))
- [x] number
- [ ] difficulty
- [ ] gas_limit
- [ ] base_fee
- [ ] history_hashes

[2022-04-08 02:44] DreamWuGit opened #177 "Update `begin_Tx` & `end_tx` to constrain `TxReceipt`"
As `log_id` is defined as log index of each receipt/tx ,  need to ensure  state transition is valid besides in logs op code.
In `begin_Tx` gadget, `log_id` should reset to zero at the beginning.
In `end_tx` gadget,  `log_id` should match with `LogLength` of `TxReceipt` RW table. if there is no log operations involved in tx,  it is zero as well.

[2022-04-08 02:51] DreamWuGit commented on #171
`Log ` should have the same issue when `CopyToLog`

[2022-04-08 09:22] CPerezz commented on #177
Assigned it to you @DreamWuGit .

Makes sense?

[2022-04-08 09:24] CPerezz commented on #142
Isn't permutation already done @ChihChengLiang .

Padding is not the focus together with arbitrary-lenght inputs and I belive there's another issue for it.

Closing this maybe?

[2022-04-08 09:26] CPerezz commented on #134
@icemelon was this addressed?
As it seems that in the circuits its not yet. See: https://github.com/appliedzkp/zkevm-circuits/pull/434

I think it isn't. And if so, would you take care? Or should re re-assign?

[2022-04-08 13:41] DreamWuGit commented on #177
make sense !

[2022-04-08 14:51] ChihChengLiang commented on #142
Yes, the padding part is here https://github.com/appliedzkp/zkevm-specs/issues/143.
The permutation is implemented but I'm thinking to move the hackmd spec back to this repo. What do you think?

[2022-04-09 02:00] roynalnaruto commented on #134
@CPerezz By mistake I mentioned to @icemelon that I had already addressed this, but the changes were not committed by me.

You can assign it to me, I'll handle this :)

[2022-04-09 03:37] roynalnaruto commented on #134
@han0110 both PRs filed, linked above :)

[2022-04-11 17:19] #134 closed

[2022-04-13 01:14] DreamWuGit commented on #141
closing by #159  merged

[2022-04-13 01:55] DreamWuGit opened #180 "add markdown spec for `begin_tx` & `end_tx` gadgets"
currently there is only python implementation for `begin_tx` & `end_tx` gadgets, I think it is better to add markdown spec as well like other auxiliary gadgets(`CopyToMemory`, `CopyToLog` etc.) , which is useful for better understanding and reading !

Glad to know your opinions!

[2022-04-13 01:58] #141 closed

[2022-04-13 08:06] adria0 opened #182 "virtual `STOP` not passing circuits"
It seems that virtual `STOP` is not passing the circuits:

explicit `STOP` works:

[code]

but virtual `STOP` fails:

[code]

[2022-04-13 08:07] #182 closed

[2022-04-14 02:11] DreamWuGit opened #183 "Update log spec for topic selector from 1 to zero order"
As @ed255 point out  in https://github.com/appliedzkp/zkevm-circuits/pull/335#discussion_r848559673, not all topics are hashed 32 bytes though they are always 32 bytes, update to use four bool selectors  from 1 to zero order replacing is zero topic  checking. to match latest circuit behavior .

[2022-04-14 07:25] DreamWuGit commented on #183
closing by #184  merged!

[2022-04-14 07:25] #183 closed

[2022-04-14 07:39] DreamWuGit commented on #177
also add other two fields of `TxReceipt`  :  `PostStateOrStatus` & `CumulativeGasUsed`:
(1) PostStateOrStatus should be equal to tx status in `end_tx`
(2) current receipt's `CumulativeGasUsed` =.pre receipt's `CumulativeGasUsed` + current tx gas cost

[2022-04-17 07:33] kobigurk opened #186 "Difficulty size limit"
We're implement the circuit for DIFFICULTY atm, and have seen that in https://github.com/scroll-tech/zkevm-specs/blob/master/specs/opcode/41COINBASE-45GASLIMIT_48BASEFEE.md, the DIFFICULTY is 32 bytes.

In https://github.com/ethereum/go-ethereum/blob/d4d288e3f1cebb183fce9137829a76ddf7c6d12a/core/types/block.go#L132 the limit is 10 bytes.

What should we go with?

[2022-04-17 17:19] roynalnaruto commented on #186
I would be in favour of aligning with `go-ethereum` and limiting `DIFFICULTY` to 10 bytes.

[2022-05-02 14:45] CPerezz commented on #186
So the rationale we follow is:

1. Yellow paper
2. https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1985.md
3. Geth implementation.

In that case, nothing is clear from the first two. So I would go for Geth's impl as reference for the RLC size.

[2022-05-02 14:47] CPerezz commented on #142
Sorry @ChihChengLiang I oversaw this.

Whatever you prefer. LGTM to move it.
We could also add the diagrams made for the ZKEVM day at Devconnect to make the circuit a bit more visual.

[2022-05-04 11:41] ChihChengLiang commented on #177
closed by #181

[2022-05-04 11:41] #177 closed

[2022-05-09 05:04] roynalnaruto commented on #73
I am currently addressing the review comments on https://github.com/appliedzkp/zkevm-specs/pull/191, and as @ed255 pointed out, it is important to finalise the definition of `StepState.code_source` in the specs.

@han0110 My opinion on the above issue is to use the bytecode table as the single source even for contract creation, specifically, this:

This will also reduce implementation complexity a

[2022-05-09 09:08] miha-stopar commented on #73
Replying as an assigned reviewer for [#191](https://github.com/appliedzkp/zkevm-specs/pull/191). I am not very familiar with the details, but 2. option seems cleaner to me too.

[2022-05-09 10:05] ed255 commented on #73
I also prefer option 2 (single source of bytecode: the bytecode table) because it unifies the way bytecode is accessed (and I think this simplifies the design).  Specially considering that we will have a copy circuit where we can offload copying `memory` to `bytecode table` and `tx.call_data` to `bytecode table`.

[2022-05-10 10:35] ed255 commented on #65
An initial version of the tx circuit is now specified at https://github.com/appliedzkp/zkevm-specs/blob/master/specs/transactions-proof.md

For the first iteration we have made a shortcut to simplify the design in which we skip the RLP encoding of the transaction and the hashing of the RLP encoded transaction.  Instead we ask the verifier to calculate the hash of the transaction and pass it to the

[2022-05-10 10:51] ed255 commented on #64
The state circuit is specified in https://github.com/appliedzkp/zkevm-specs/blob/master/specs/state-proof.md

Done.

Done

TODO.
- [ ] There's currently no constraints to count the number of rows with `rwc != 0`.

If I understood it correctly, @han0110 proposed the idea of using the shuffle argument to verify that the `rwc` values used in the EVM circuit match 1-1 with the `rwc` values used in the

[2022-05-12 04:26] han0110 commented on #64
Yes, in the approach using shuffle instead of lookup, we don't need to count how many row with `rwc != 0`. We only need to make sure `rwc` is strict monotonically increasing of the same key.

Such special rows with `rwc = 0` will be masked to be `0` just like padding rows, and since `rwc` is constraint to be strict monotonically increasing, so prover can't have 2 continuous `rwc = 0` row to forge

[2022-05-12 09:44] han0110 commented on #151
Yes, the refactor doesn't change the `bytecode_table`, only trying to simplify the constraint of Bytecode circuit.

[2022-05-13 03:08] han0110 commented on #71
Update with some worst case analysis:

- Worst case row consumption of circuit

    | Circuit   | Row Consumption Unit                     |
    | --------- | ---------------------------------------- |
    | Keccak256 | <sup>1300 row</sup>/<sub>136 bytes</sub> |
    | Bytecode  | 1 <sup>row</sup>/<sub>byte</sub>         |
    | State     | 1 <sup>row</sup>/<sub>access</sub>       |
    | EVM

[2022-05-13 05:34] DreamWuGit commented on #97
both spec and circuit merged !

[2022-05-13 05:34] #97 closed

[2022-05-13 05:35] barryWhiteHat commented on #71
Maybe good testnet parameters are `gasBlockLimit` < 1 M gas and disable `EXTCODESIZE`

For `Keccak256` this is rows in the keccak circuit right ?

[2022-05-13 05:39] han0110 commented on #71
Make sense, then we have upper bound 33.5 <sup>row</sup>/<sub>gas</sub>, which is large enough.

Yes, the 27.72 <sup>row</sup>/<sub>gas</sub> is in keccak circuit.

[2022-05-13 07:44] han0110 commented on #73
As discussed in this week's call, let's implement option 2 for simplicity of EVM circuit. But for the Copy circuit (#194), it then needs to handle the copy from tx calldata in `tx_table` to `bytecode_table` in the future, and such copy will be triggered by EVM circuit in `BeginTx` if it has `is_create == True`.

The rest todos to resolve this issue:

- EVM circuit
    - [ ] Rename `code_source` to

[2022-05-16 13:11] ed255 opened #199 "Update state circuit specs based on circuit impl"
Based on these notes (Annotated with FIXME are the differences between spec and implementation):
https://github.com/appliedzkp/zkevm-circuits/commit/adcab5ce9d026dbef81c1af3bbd71a3d0a20fb51

[2022-05-20 09:04] lispc opened #202 "state circuit: add prev value column and constrain it"
We need to add an "initial row" before each uniq (tag, id, field_tag, storage_key) key tuple.
Initial rows are rows having rwc == 0, and have same (tag, id, field_tag, storage_key) key tuple with following "real" rows.

The reason to add initial rows is to constrain the prev_value column and make it easier to connect evm circuit and state circuit later . In future, either we use "shuffle" or looku

[2022-05-20 11:05] ed255 opened #203 "Add missing constraints to state circuit spec"
- [x] CallContext
- [x] TxRefund
- [x] TxAccessListAccount
- [x] TxAccessListAccountStorage
- [ ] AccountDestructed

Circuit implementation related issue: https://github.com/privacy-scaling-explorations/zkevm-circuits/issues/568

[2022-05-24 14:19] ed255 commented on #202
I have a few questions regarding this topic

1. Currently there's no `prev_value` row in the state circuit.  My understanding is that when using the lookup (or shuffle) argument, we can define "virtual" columns made of expressions of actual columns; so an explicit column is not always needed.
2. In https://github.com/privacy-scaling-explorations/zkevm-specs/pull/200 I managed to find a way to remo

[2022-05-24 15:17] lispc commented on #202
I now propose a middle branch (1) remove rwc==0 row , but (2) keep prev column

for (1) it seems it can be done. Here I constrain the prev col for [state rw](https://github.com/scroll-tech/zkevm-circuits/pull/155/files#diff-3c34e18842d60643d37a4c79494077f57237418db3eb5b2539827baa23859d60L149) and [access list rw](https://github.com/scroll-tech/zkevm-circuits/pull/155/files#diff-3c34e18842d60643d37

[2022-05-25 11:05] ed255 commented on #202
I see what you mean.  We need some extra column to store the witness used to prove that `keys_diff != 0` (like the `IsZero` chip).  But I don't think that would be a `prev_value` column.  In either case the `prev_value` (be it a column or an expression), must be constrained to be a particular value using an expression of other columns and constants (for default values).

I don't follow your commen

[2022-05-27 02:09] DreamWuGit opened #207 "constrain cumulativeGasUsed not exceed gas limit in block"
since we have `cumulativeGasUsed` data per tx in RW table now for receipt importing,   we can constrain `cumulativeGasUsed` of all txs  not exceed gas limit in the block, proper place to handle is in `end_block` gadget !

[2022-05-27 11:56] ed255 opened #208 "Possible issue with ADDMOD spec"
I think the current `ADDMOD` spec allows an invalid result to fulfill the constraints

The ADDMOD is defiened with these constraints

[code]

I believe these constraints have two different solutions

Here's an example

[code]

Expected result:
[code]

# Valid witnesses

## A: expected

[code]

## B: undesired

[code]

# Summary

The issue is that the prover can choose a `d` value that overflows in

[2022-05-27 11:57] ed255 commented on #208
@adria0 please take a look!

[2022-05-27 12:16] adria0 commented on #208
But how the prover cannot fit values in a Word / RLP that are bigger than 2^256? I'm not going to use py bigints, in the circuit

[2022-05-27 13:02] lispc commented on #202
(1) if i understand right,  we have to 2 ways to constrain prev value,  (A) let evm circuit and state circuit both have rw table of 11 columns (
 rw_counter, is_write, tag,id, address, field_tag, storage_key, value, aux1, aux2, value_prev), constrain the value_prev at state circuit side, and check rw table of evm circuit and state circuit are identical. This is what i proposed. (B) keep state circ

[2022-05-27 13:38] ed255 commented on #208
Maybe you're saying this because I originally wrote:

I updated the sentence to make it more clear:

In the example, the `d` value in case B is less than 256 bits.

[2022-05-27 13:59] ed255 commented on #202
I agree on your analysis that we have 2 ways to approach this.  And now I understand why you propose having the `value_prev` column (so that the total number of columns remains lower), I wasn't considering that.  In general, anything that reduces the number of columns is better :)

:+1:

[2022-05-27 16:03] davidnevadoc commented on #208
I think this case was addressed by checking the overflows in both sides of the equation like so:
https://github.com/privacy-scaling-explorations/zkevm-specs/commit/33847afa3db68511773cad9df72482dfcced7b0d#diff-8f800952451f336736fe00fcab5afe1377a6ca2ccddc02f55a0214757d0a208dL43-L47
This is enough because addition can overflow just 1 bit, so it is enough to check that either no side of the equation

[2022-05-27 16:07] adria0 commented on #208
anyway `d * n + r` should not overflow, isn't it?

[2022-05-27 16:07] davidnevadoc commented on #208
One soultion (the one I have used for `MULMOD`) is to reduce one of the operands before the addition. This prevents the overflow of the factor `d`, it adds constraints though... (see https://github.com/privacy-scaling-explorations/zkevm-specs/pull/204#discussion_r883454052 )

[2022-05-30 07:46] adria0 commented on #208
Ok, it seems that 512 bit logic will simplify everything, I'll wait to @davidnevadoc `MULMOD` spec finished to adapt from it.

[2022-05-30 11:04] ed255 opened #209 "MulAddWords gadget overflow correctness"
The MulAddWords gadget is defined to verify:
`a * b + c == d (mod 2**256)`
While also calculating the overflow.

But the overflow is stored in an expression, which is limited by the field, which is lower than 256 bits.  This means that the overflow value is not reliable.

For example, for the following inputs
[code]
The overflow value should be
[code]

[2022-05-30 11:27] davidnevadoc commented on #209
I believe the overflow in `MulAddWords` is just intended to work as a flag that indicates if there was overflow or not.  It doesn't even compute what would be the correct overflow as it sums the limbs of the product above `2^256` together without properly scaling them (as @han0110 pointed out https://github.com/privacy-scaling-explorations/zkevm-specs/pull/204#discussion_r882272511) :

 https://gi

[2022-05-30 12:11] ed255 commented on #209
Thanks for the explanation!  I missed that comment from Han!

Yes!  I think we can improve both the python and circuit implementation by adding some notes about this fact.

[2022-06-02 13:32] ed255 opened #216 "Split Words into 2 fields instead of using RLC"
Currently we're using RLC to compress words into a single value whenever we want do do lookups of words.
This design requires obtaining a randomness between all the circuits that will do Word RLC encoding (which imposes constraints on the structure of the aggregation circuit tree), and also requires refactoring circuits to separate the columns and configuration pre-RLC-Word and post-RLC-Word.
Also

[2022-06-02 14:31] ed255 opened #217 "Coherence between state/storage updates in state circuit - MPT circuit"
The EVM circuit tracks all accesses to the execution state that happen during a transaction via lookups to the `rw_table` in the state circuit.  The only accesses that should be allowed are those tracked via the EVM circuit, so we must guarantee that the `rw_table` doesn't contain more entries than the ones in the EVM circuit.

To achieve this, the original design assigns a sequential counter to e

[2022-06-03 08:27] ed255 commented on #216
Doing the lo/hi approach will require using 2 cells in the places where we were using a single cell to encode a Word.  For lookup-able tables that contain words (rw_table, tx_table, block_table, mpt_table) there are two approaches:

# 2 columns per Word
Every column that currently contains an RLC-encoded Word will become 2 columns with the lo and hi parts of the word

For example, in the tx_table

[2022-06-03 09:42] miha-stopar commented on #217
From MPT circuit perspective this is even easier and at first I thought we will have something like this, but then I got the impression we would better like not to have these intermediate state roots in the state circuit? But yes, MPT can be quickly changed according to the proposal.

[2022-06-07 10:17] ed255 commented on #130
Resolved in https://github.com/privacy-scaling-explorations/zkevm-specs/pull/150

[2022-06-07 10:17] #130 closed

[2022-06-15 09:19] DreamWuGit commented on #216
if check 128 bits range by lookup , the table seems very big ?

[2022-06-15 09:48] ed255 commented on #216
Good point.  128 bit range lookup is not feasible.  So even though the words appear as two 128 bit values, we'd do range check on limbs (only on one circuit).  For example, for the rw_table we may do this check in the state circuit or the EVM circuit.  In the circuit where we do the range check we'll just allocate 8 x 16 bit limbs, which will be range checked via lookup table, and shown to corresp

[2022-06-15 10:20] ed255 opened #221 "Redundant constraints between circuits that share a table"
Extended discussion related to
https://github.com/privacy-scaling-explorations/zkevm-specs/pull/220#discussion_r897784551

We have a few tables that are shared between circuits; where one circuits enforces some constraints on the table, and the other circuit does lookups to the table.  This creates a situation where some of the constraints that must be fulfilled can be enforced by two different ci

[2022-06-15 15:20] ed255 opened #222 "RETURN opcode"
Specify the execution state for the RETURN opcode.

This opcode uses dynamic length memory copy so it may depend on the Copy Circuit.

[2022-06-15 15:22] ed255 opened #223 "SHA3 opcode"
Specify the execution state for the SHA3 opcode.

This opcode uses dynamic length memory copy so it may depend on the Copy Circuit.

[2022-06-16 10:48] DreamWuGit opened #224 "state circuit : fix( log_id +index) represents tx log address"
current state circuit  make `address`  by (`index` + `log_id`) for `TxLog` Op , but somewhat different meaning from other types (`Memory`,  `Stack`, `Account`),  for those types, `address`  can identify each item,  i.e. for stack , `stack_ponter` as address can represent certain stack item .    but only by `index` + `log_id` is not adequate to identify each log item, because `index` can be the sam

[2022-06-16 14:00] ed255 commented on #216
Update on this topic after a chat with @barryWhiteHat and @han0110:
- We're very confident that this change needs to be done eventually
- This change involves a big refactor because it touches most of the circuits
- The main pain point of the world RLC is getting a shared randomness between all the circuits.  This is "easy" to achieve if all the circuits are proved under a single aggregation circu

[2022-06-21 12:28] ed255 commented on #224
I've reviewed https://github.com/privacy-scaling-explorations/zkevm-specs/pull/227 and I like the approach of setting `address = index || field_tag || log_id` where each element is 16 bits.

[2022-06-22 16:25] z2trillion commented on #221
One thing that's been in the back of my mind is that the state circuit doesn't actually "care" that the RLC encoded storage key matches the bytes. If we sort the by RLC encoded value instead of the Word value of the storage key, we could save 16 advice columns (-32 byte columns + 16 limb columns since we still would need them for the LexicographicOrderingChip).

[2022-06-22 16:42] z2trillion commented on #221
Does this mean that this constraint on the stack address change: https://github.com/scroll-tech/zkevm-specs/blob/master/src/zkevm_specs/state.py#L244 is already covered in the EVM circuit?

On a higher level, would it be correct to say that the state circuit only needs to prove the read/write consistency of the rw table. I.e. that consecutive reads return the same value and that initial read(s) re

[2022-06-23 09:28] ed255 commented on #221
This idea seems very nice!  Then we would not be doing any RLC verification in the state circuit.

Exactly.  The EVM circuit is already tracking the stack pointer in each step https://github.com/privacy-scaling-explorations/zkevm-specs/blob/63b8b153eaf2daf0392a4862de6e4bd6640a7d8a/src/zkevm_specs/evm/step.py#L33 and it's expressions using this value that are used in the lookup.  From step to step,

[2022-06-23 11:28] ed255 opened #228 "Add keccak support in the copy circuit"
Currently the Copy Circuit spec doesn't support Keccak from an EVM dynamic memory chunk.

See https://github.com/privacy-scaling-explorations/zkevm-specs/pull/194#discussion_r900128743

[2022-06-23 11:28] ed255 commented on #223
Blocked by https://github.com/privacy-scaling-explorations/zkevm-specs/issues/228

[2022-06-24 22:58] z2trillion commented on #221
This isn't possible, because there's no room in the rw-table for extra rows. Every non-start row in the rw table must correspond to a distinct rw lookup in the evm circuit, but a "re-ordering" row like you describe wouldn't correspond to any lookup the evm circuit would make.

I do think that we should keep these constraints in for now, since they cost very little to implement and make reasoning a

[2022-06-27 14:17] ed255 commented on #221
I was thinking of a case where a non-start row that the EVM circuit looks up to, contains a non 0 value in an unused field (column).  But on a further though, this case may not be possible because the lookups coming from the EVM circuit use fixed 0s for unused columns, and so there's no way for a prover to use a non-zero value as witness for an unused column.

Sounds good to me.

[2022-06-29 10:15] ed255 opened #230 "Outdated API for some opcodes"
In `src/zkevm_specs/opcode` we have some opcodes python implementations following an outdated API: these opcodes don't receive an `Instruction`, and they don't perform any bus-mapping lookup.  They are implemented in the style of an independent gadget.

The list of these opcodes is:
- [ ] SIGNEXTEND https://github.com/privacy-scaling-explorations/zkevm-specs/pull/389
- [x] LT https://github.com/pr

[2022-06-29 18:21] z2trillion commented on #217
Mostly for my understanding, I've tried to synthesize @han0110's proposal with the option 2 from https://github.com/privacy-scaling-explorations/zkevm-specs/pull/200#issuecomment-1144667560 and came up with this:

From https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/591, we add `commited_value` and `value_prev` advice columns with these constraints:
- `committed_value = value_p

[2022-06-30 08:27] CPerezz commented on #217
I'm unsure if we want to reduce the lookup size. But note that we can RLC the prev_values with the curr ones.

So from:
`lookup(target, address, key, value, value_prev, root, root_prev)`
We go to:
`lookup(target, address, key, RLC(value, value_prev, root, root_prev))`
If we're already dependant on Randomness via query_challenge API, include it should not be an issue + we reduce the shuffles we hav

[2022-06-30 08:58] miha-stopar commented on #217
Yes, intermediate state roots are returned by MPT witness generator together with other witness data.

[2022-06-30 09:35] ed255 commented on #217
Your description matches exactly the way I have in mind :)

The main points for me are:
1. Track the roots in the state circuit to remove the need for the MPT counter.
2. Do a single MPT lookup for N storage updates with same (tx_id, address, key) or M account updates with same (address, tag).

[2022-06-30 13:14] DreamWuGit commented on #224
closing #214 merged !!

[2022-06-30 15:54] z2trillion commented on #217
@lispc had proposed (https://github.com/privacy-scaling-explorations/zkevm-specs/pull/210#issuecomment-1152323592) RLC'ing all the columns of a lookup together by default. In this case,
[code]
Is that no longer the plan, if it ever was?

[2022-07-04 13:05] ed255 opened #231 "Missing CallDataGasCost in TxTable (tables.md, tx circuit, publicInputs circuit)"
CallDataGasCost is defined in the EVM Circuit but is missing in other places.

Maybe we can begin unifying the TxFieldTag enums between evm tables and tx circuit.

[2022-07-08 08:19] DreamWuGit opened #232 "check possible redundant constrain between copy circuit and state circuit"
as https://github.com/privacy-scaling-explorations/zkevm-specs/pull/194#issuecomment-1178686198 discussed , there maybe read consistency constraint in both copy circuit and state circuit,  better to avoid redundant constrain in both side in the future development .  current state circuit not yet implement read consistency constraint now.

[2022-07-14 18:11] z2trillion commented on #217
I made a draft PR adding mpt lookups to the state circuit: https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/621.

[2022-07-22 04:16] roynalnaruto commented on #228
@ed255 I can take up this issue :)

[2022-07-22 08:18] roynalnaruto commented on #223
Depends on #235

[2022-07-29 08:16] ChihChengLiang opened #242 "EXTCODESIZE and EXTCODECOPY"
EXTCODESIZE and EXTCODECOPY are two codes to query the information of the bytecode of another address.

- EXTCODESIZE gives us the size of the bytecode.
- EXTCODECOPY copies the bytecode into the memory

They cost 100 gas if the queried address is warm and 2600 if the address is cold.

The problem with proving these two opcodes inside zkevm is that we have to prove the membership of the bytecode i

[2022-07-29 08:30] lispc commented on #242
Haha in fact wa have already made a binary posedion storage tree https://github.com/scroll-tech/mpt-circuit/blob/master/spec/mpt-proof.md

[2022-08-04 07:18] ed255 commented on #34
Resolved via https://github.com/privacy-scaling-explorations/zkevm-specs/pull/204

[2022-08-04 07:18] #34 closed

[2022-08-04 07:21] ed255 commented on #56
This has already been specified:
https://github.com/privacy-scaling-explorations/zkevm-specs/blob/08c6c30a7b53f83558a7ea7e50dc0e4d74fab0c8/src/zkevm_specs/state.py#L266-L268
https://github.com/privacy-scaling-explorations/zkevm-specs/blob/08c6c30a7b53f83558a7ea7e50dc0e4d74fab0c8/src/zkevm_specs/state.py#L307-L309

[2022-08-04 07:21] #56 closed

[2022-08-04 07:25] ed255 commented on #62
Done in https://github.com/privacy-scaling-explorations/zkevm-specs/blob/master/src/zkevm_specs/opcode/lt_gt.py

[2022-08-04 07:25] #62 closed

[2022-08-04 07:27] ed255 commented on #64
The approach to make sure the number of rw operations in state circuit and evm circuit are the same is resolved through the idea implemented in https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/558

[2022-08-04 07:32] #86 closed

[2022-08-06 09:10] ed255 commented on #217
Specs PR for this https://github.com/privacy-scaling-explorations/zkevm-specs/pull/236

[2022-08-06 09:14] ed255 commented on #207
I forgot to add this https://github.com/privacy-scaling-explorations/zkevm-specs/pull/243 U.U
We need to update EndBlock with this check.

[2022-08-06 09:15] ed255 commented on #202
@z2trillion @lispc do you think this issue has been resolved already with the current state of the state circuit?

[2022-08-06 09:17] ed255 commented on #180
You can add `end_block` to the list :P

[2022-08-06 09:20] ed255 commented on #171
This has been resolved with the addition of the CopyCircuit which led to the removal of the CopyToFoo virtual steps.

[2022-08-06 09:20] #171 closed

[2022-08-06 09:24] ed255 commented on #146
Currently the spec and impl define the call with empty code as a special case with their associated constraints.  Closing this as we have a working solution for now.  May revisit in the future.

[2022-08-06 09:24] #146 closed

[2022-08-06 09:27] ed255 commented on #135
The Word RLC will be superseded by https://github.com/privacy-scaling-explorations/zkevm-specs/issues/216 so this discussion is no longer important.

[2022-08-06 09:27] #135 closed

[2022-08-06 09:54] ed255 opened #244 "Specify constraints for TxRefund in State circuit"

[2022-08-08 07:33] ChihChengLiang commented on #180
Adding markdown spec for `begin_tx`, `end_tx`, `CopyToMemory`, `CopyToLog`, and `end_block` sounds like a good idea to me!

[2022-08-08 09:55] lispc commented on #202
i think not.   After https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/621 and https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/670 and https://github.com/privacy-scaling-explorations/zkevm-circuits/issues/557 are done, we can revisit it.

[2022-08-16 08:02] pinkiebell commented on #71
Just stumbled into this one :) . Related to this is a feature I recently added to estimate K based on worst-case blocks. It doesn't show the real picture because some parts like StateCircuit was missing since.

https://github.com/pinkiebell/zkevm-circuits/blob/v2022-08-08/prover/tests/autogen.rs
which outputs
https://github.com/pinkiebell/zkevm-circuits/blob/v2022-08-08/prover/src/circuit_autogen.

[2022-08-17 07:48] ed255 commented on #180
Note that `CopyToMemory` and `CopyToMemory` execution state no longer exits (the became obsolete with the copy circuit).

[2022-08-17 12:42] CPerezz opened #249 "MPT table API for proof of non-existance"
Here's a summary of a discussion we had about this via chat:

There are 2 options for the MPT table API.
A. One is that you just do a balance lookup, and the MPT circuit constraints the value to be 0 when the account doesn't exist (using an MPT proof of non-existence).
B. The other option is to have a tag for the MPT table for account exists, which would mean that the BALANCE opcode needs to do 2

[2022-08-17 12:53] miha-stopar commented on #249
Agree, option B is easier for MPT and is already implemented.

[2022-08-17 14:30] miha-stopar commented on #249
Yes, but this also holds for state circuit.

[2022-08-18 07:09] ed255 commented on #249
Depends on https://github.com/privacy-scaling-explorations/zkevm-specs/pull/236 which updates the MPT table spec.

[2022-08-18 09:28] aguzmant103 opened #250 "Define keccak table API"
A small table that tells which columns and their values for a lookup to the keccak table

Transform this: https://github.com/privacy-scaling-explorations/zkevm-specs/blob/master/specs/keccak256/variable-length-input.md#lookup
Into something like this: https://github.com/privacy-scaling-explorations/zkevm-specs/blob/master/specs/tables.md

[2022-08-18 15:27] ed255 opened #251 "About zero value rows in tables"
Copied from a comment by @han0110 in https://github.com/privacy-scaling-explorations/zkevm-specs/pull/237#pullrequestreview-1066368872

[2022-08-18 15:29] han0110 commented on #251
Builtin lookup argument has implicit degree `4` by `{q_usable,input,table,z}`, normally input will have a selector, so it makes the degree to `5`, which is the maximum for `extended_k = 2`.

If table also needs a selector, it makes the `extended_k = 3`, it should be fine for now, but in the future if we want `extended_k = 2` for prover efficiency, then we might need to refactor.

[2022-08-19 04:02] silathdiir opened #252 "Implement opcode `STATICCALL` in Spec"
Please help assign this issue to me if no one is working on this opcode. Thanks.

Related Circuit issue: https://github.com/privacy-scaling-explorations/zkevm-circuits/issues/699

[2022-08-19 08:59] ed255 opened #253 "Public inputs precomputations by verifier strategy"
The current design involves the verifier to precomputed values based on the block public data (block headers, transaction fields, etc.)
This data i precomputed by the verifier following the tx table and block table layout.  There i room for improvement in the strategy in order to
- Reduce the precomputation done by the verifier
- Simplify some constraints in the circuit

Here's a discussion about

[2022-08-19 09:00] #231 closed

[2022-08-22 07:26] DoHoonKim8 commented on #242
Hi! I'm currently working on writing `EXTCODECOPY` spec, and I'm curious about the following:

Is there any further discussion or the decision about this? Thanks!

[2022-08-22 07:36] CPerezz commented on #242
For now you should not assume that any of these optimizations will be coded/applied and simply fetch the bytecode with the bytecode circuit.

[2022-08-22 07:42] DoHoonKim8 commented on #242
Okay, I will leave the optimizations as future works. Thanks for your reply @CPerezz !

[2022-08-22 14:14] CPerezz commented on #101
We should decide on this maybe as we have a lot of opcodes implemented refering to this and would be nice to decide on it for the upcoming ones.

See for example: https://github.com/privacy-scaling-explorations/zkevm-specs/pull/241/files#

cc: @ChihChengLiang @han0110 @ed255

[2022-08-22 14:50] ed255 commented on #101
I'm inclined to ignore this issue for now (so that it doesn't affect the unimplemented opcodes), and once all opcodes are implemented, revisit this as a possible optimization.  So I would leave this as a low priority issue in the collection of small optimizations we can do in the future.

[2022-08-24 16:59] ed255 opened #259 "Update account/storage lookups to check non-existence"
Currently the specs of opcodes that check the state assume that even though an account may not exists, a lookup to an account field will succeed with the default value as a result.  This will not be the case as the MPT will not have entries of default values for non-existing leafs, but instead will support lookups that prove the non-existence of an account.

This means that all opcodes that perfor

[2022-08-26 07:39] ChihChengLiang opened #260 "Prepare for the first spec audit"
We list some tasks here before the spec is ready for an audit.

- [ ] Update the zkevm docs to reflect the current status of the spec. So that the auditors can get up to speed quickly. https://github.com/privacy-scaling-explorations/zkevm-docs/issues/12
- [ ] Determine the audit scope by @barryWhiteHat
- [ ] Cut a release of the spec for audit

Feel free to suggest more tasks you think are relevan

[2022-08-30 15:03] ChihChengLiang opened #261 "Spec out RLC for audit"
RLC is an important component of the project where many of our security assumptions rely on. We should spec out this component for a cryptographic audit.

The spec should cover the following parts:

- The construction
    - how we derive randomness from columns
    - How to turn a vector of values into RLC values. We should already have the python code for this
- The properties we assume RLC to ha

[2022-08-30 15:38] Brechtpd opened #262 "`RETURNDATACOPY` spec"
Will be done by @xiaodino and @smtmfft

[2022-09-01 12:14] aguzmant103 opened #264 "<Spike> Review the current zkEVM document spec difference with implemention"

[2022-09-02 11:39] miha-stopar commented on #249
Currently, to reduce the expression degree MPT uses multiple boolean columns to determine what kind of proof it is about.

So, instead of
[code]

there is
[code]

For `IsAccountDeleteMod` and `IsNonExistingAccountProof` we use 0 for `ValuePrev` and `Value`. Note that there is no `AccountCreateProof` because we can create the account implicitly by `IsNonceMod` or `IsBalanceMod` (and in this case we

[2022-09-05 05:30] DreamWuGit opened #265 "implement ErrorOutOfGasConstant state"

[2022-09-07 13:12] aguzmant103 opened #268 "MPT: Initial Specification Scoping"
- Document and define clearly what our circuit is build upon. In our case, it is Geth specification.
- Explore all Geth edge cases if they can really happen.
- Describe all the theoretical edge cases and estimate probability that they will happen. If the probability is negligible (2^-128), we don't need to implement them.
- Add this as an appendix to the specification.
- Add the proof types the MP

[2022-09-08 11:41] CPerezz opened #269 "Generate a new spec for keccak-bit implementation in zkevm-circuits"
Since the implementation we were working on originally was superset by this one. We should update the keccak spec according to the actual implementation.

This will also be useful so that we can basically audit the actual impl and see if we are missing any constraints or we're not following 100% the keccak specs.

This is a superset of https://github.com/privacy-scaling-explorations/zkevm-circuits

[2022-09-08 11:49] aguzmant103 opened #270 "SuperCircuit: add Specifications"

[2022-09-08 14:33] ed255 commented on #249
This case can definitely happen.  Imagine a storage slot has value 0, and then we find an SSTORE that writes 0 into it.  Or imagine a storage slot has value 0 and then we do a read to it with SLOAD.
I think we have 2 solutions: handle this case from the MPT circuit, or handle it from the EVM circuit.
- a. From the MPT side it would mean that a storage update with `value_prev=0, value=0` means that

[2022-09-09 09:44] miha-stopar commented on #249
Yes, but the first case means that there is a storage leaf in the trie after modification, the second means that there is a storage leaf in the trie before the modification? If that is so, both cases are covered by MPT circuit.

[2022-09-09 14:06] ed255 commented on #249
I don't think so.  In the first case, the leaf doesn't exist before, and since you write a 0, it remains non-existing, because a 0-value leaf in the storage will never exist.
In the second case there's no leaf, and a read to a key that has no leaf returns the value 0.
Here's the reference in go-ethereum:
- Writing a 0 value to storage is a delete: https://github.com/ethereum/go-ethereum/blob/38902

[2022-09-09 16:13] ed255 commented on #249
Great!  Implementing this case in the EVM circuit sounds good to me!  I think it should be easy, and probably we're already doing checks against 0 values for variable gas cost purposes.

[2022-09-09 16:18] ed255 commented on #249
Hm, after a second thought... I believe we can't just skip that lookup from the EVM side, but instead we need some form of `IsNonExistingStorageProof`.  Otherwise the prover could just pretend to read a 0 value when there was a non-zero value in the storage.

[2022-09-12 06:43] ChihChengLiang commented on #261
Something along the lines of pseudocode as in figure 1 of https://eprint.iacr.org/2021/793.pdf is what auditors need.

[2022-09-12 11:27] miha-stopar commented on #249
I see, I will add that.

[2022-09-14 11:57] ed255 opened #273 "TxTable padding txs approach"
Currently we have a conflicting spec for the padding areas of the TxTable (this was originally borught up by @davidnevadoc)

The current TxTable is divided into 2 fixed height parts:
- a. Tx Fields. num_rows = MAX_TXS * NUM_FIELDS_TX
- b. Tx Calldata. num_rows = MAX_CALLDATA

One of the requirements for this table is to be able to get a lower bound on the number of padding txs (out of MAX_TXS, onl

[2022-09-14 12:17] aguzmant103 commented on #268
Assignig this to @ed255  and @adria0 as support

[2022-09-14 13:57] ed255 commented on #268
Notes on the geth implementation:
source: https://github.com/ethereum/go-ethereum/blob/master/trie/trie.go (and other files in the trie package)
comment by Miha: special cases are due to hexToCompact in https://github.com/ethereum/go-ethereum/blob/master/trie/encoding.go

[2022-09-14 14:20] ed255 commented on #273
Here's an idea (A):

For padding Txs, leave the tag column filled with all the tags.  A Padding Tx will have the field `CallerAddress = 0`, and the TxID of padding txs will be sequential still (that is, all rows of the same padding tx will have the same tx_id, and the tx_id of each padding tx will continue after the last tx).  The TxCircuit already supports `CallerAddress = 0` for padding (this is

[2022-09-16 06:44] ed255 opened #275 "State circuit "start" tag constraints fix"
Currently the constraints for the `Start` tag are:
[code]
We defined to have sequential rwc in `Start` to prove a lower bound on padding rows.  And there should be also more constraints verifying that some of the columns are 0, that the root doesn't change, etc.

See https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/7d2c05146baaf8662d607574c44a796127e80c16/zkevm-circuits/src/stat

[2022-09-20 15:30] ed255 opened #279 "Support for empty blocks"
One of the responsibilities of the EVM Circuit is to make sure that all the transactions that appear in the TxTable (which match the transactions included in the block) are processed.  In order to do that, the current approach is to take the index of the last processed transaction (once we enter the EndBlock state) and use it to make sure there are no more than those transactions in the TxTable (b

[2022-09-22 12:05] ChihChengLiang commented on #269
This task only requires us to specify the "bit" implementation

[2022-09-24 05:46] ChihChengLiang opened #282 "Extract the padding gadget"
### Problem

We've been using this pattern throughout different circuits. Those circuits usually have different virtual rows of different sizes that must be determined on the proving time.

The prover witnesses a bool value called `is_last` or `is_final` to specify the last virtual row, then witnesses the padding value for the rest of the circuit rows.

Those circuits are (maybe not exhaust)

- [

[2022-09-27 10:30] ed255 commented on #273
I'm currently working on updating the spec to use idea (A)

[2022-09-27 10:31] ed255 commented on #279
During the implementation of the EndBlock circuit I've managed to extend the constraints to support the empty block.  I'm working on an update to the spec that matches the circuit I currently have.

[2022-09-27 10:37] ed255 opened #284 "Update EndBlock spec"
During the implementation of the EndBlock circuit I found some issues that required extending the constraints in order to:
- Support TxPadding with fixed Tag column
- Support empty block
- Support full TxTable

The EndBlock spec requires an update to reflect those new requirements.

[2022-09-28 01:27] DreamWuGit opened #288 "implement OOG_Call error state"
will work on PR #287

[2022-09-28 12:52] aguzmant103 opened #289 "MPT: Review Spec"

[2022-09-29 11:13] aguzmant103 commented on #268
In review by Miha

[2022-09-30 06:24] ed255 commented on #249
Tasks to do:
- Add `IsNonExistingStorageProof` to the MPT table in `tables.md`
- Figure out a way to introduce `Account->NonExistingAccountProof` and `Storage->IsNonExistingStorageProof` in the RwTable
  - Update `tables.md` and python implementation accordingly

[2022-10-03 10:35] ed255 opened #290 "Block Rewards"
Currently we're only handling the spent gas related rewards to the coinbase address (this is done in EndTx).
We should also handle the fixed reward in EndBlock (as described here, which is the EIP that should apply in our case https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1234.md)

It's not clear to me how we should treat the rewards associated to uncle and nephew blocks.

[2022-10-03 10:39] #273 closed

[2022-10-03 10:39] #284 closed

[2022-10-03 10:39] #279 closed

[2022-10-04 10:42] #252 closed

[2022-10-05 12:37] silathdiir opened #293 "Implement opcode `DELEGATECALL` in Spec"
Please help assign this issue to me if no one is working on this opcode. Will implement `DELEGATECALL` based on previous `CALL` and `STATICCALL`. Thanks.

[2022-10-17 14:26] miha-stopar commented on #289
MPT docs are now cleaned, I think the PR can be reviewed now.

[2022-10-18 08:33] DreamWuGit opened #297 "implement error ErrorInvalidJump state"
PR #296 will work on this !

[2022-10-27 11:17] ed255 commented on #268
Document: https://hackmd.io/nI_STO5HQ4G-ugKnQEzctg?view

[2022-10-27 11:26] aguzmant103 commented on #268
The initial scoping didn't discover new use cases. However there are two open topics to address in the specification scoping doc:
- When the extension node is replaced with another extension node. (already mentioned in the document) @adria0 will add this.
- 16 limit in Geth and 17th element possibility: it seems this is never used. @miha-stopar will ask an internal developer of Geth if this use ca

[2022-10-27 13:39] aguzmant103 commented on #289
@miha-stopar  to send the PR when possible

[2022-10-28 10:35] miha-stopar commented on #268
Imagine you have an extension node at `n1 n2 n3 n4` (where each of these is a nibble). Let's say this extension node has the following nibbles as the extension: `n5 n6 n7`. So at position `n1 n2 n3 n4 n5 n6 n7` there is some branch.

Now we want to add a leaf at position `n1 n2 n3 n4 n5 m1` where `m1 != n6`. The adding algorithm walks through the trie, but it bumps into an extension node where it

[2022-10-28 12:58] miha-stopar commented on #268
Aha, now I see a related case is covered by [Insert when branching occurs in L](https://hackmd.io/nI_STO5HQ4G-ugKnQEzctg?view#Insert-when-branching-occurs-in-L) in the scoping document. There are multiple variations though. Sorry for confusion!

[2022-10-28 13:14] miha-stopar commented on #268
Ah, probably this case was added after my comments?

[2022-10-28 15:04] miha-stopar commented on #289
Could be reviewed now:

- onExistingStorage proof docs were added
- [matching](https://github.com/privacy-scaling-explorations/zkevm-specs/blob/5cda455650b27d25dc9e3472c387f4b3e1942c3d/specs/mpt/scope.md) with the scoping document added

[2022-10-31 03:22] DreamWuGit opened #302 "handle stack overflow & underflow state"
PR #301 working on this item.

[2022-11-02 03:59] DreamWuGit commented on #265
this is done by #266

[2022-11-02 03:59] #265 closed

[2022-11-03 11:59] ed255 opened #304 "Define history hashes padding when there are less than 256 previous blocks"
See https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/843#discussion_r1001776817
It would be good to document clearly how the previous block hashes are arranged to avoid future confusions.

[2022-11-05 07:34] pinkiebell commented on #290
Given that the PoW era is gone and PoA consensus doesn't have block rewards, should we even consider supporting that?

[2022-11-07 08:11] #293 closed

[2022-11-07 08:46] silathdiir opened #306 "Implement opcode `CALLCODE` in Spec"
Please help assign this issue to me if no one is working on this opcode. Will implement `CALLCODE` based on previous call opcodes. Thanks.

Previous `DELEGATECALL` PR - https://github.com/privacy-scaling-explorations/zkevm-specs/pull/294

[2022-11-08 16:28] ed255 commented on #290
For the L2 zkRollup probably we don't need to consider these block rewards.

But we probably want to generate proofs of validity for L1 blocks before the PoA was implemented, so I think we have to consider this at some point.  Ideally we'd want to verify L1 blocks from the genesis to now.  Nevertheless I think having a zkEVM which can only verify blocks of the current fork/implementation is very u

[2022-11-10 11:04] ed255 commented on #158
The TxCircuit is currently integrated in the SuperCircuit along with the KeccakCircuit, and the KeccakTable from the KeccakCircuit is successfully used by the TxCircuit.  I'm closing this issue because this is already working :)

[2022-11-10 11:04] #158 closed

[2022-11-10 12:15] aguzmant103 commented on #268
Next steps: Edu or Adria to check the changes and confirm the additions are sufficient. Afterwards we can close this issue.

[2022-11-10 12:56] aguzmant103 commented on #289
Next steps: Ready to be reviewed by us first and then ask someone from Taiko.

[2022-11-15 08:53] #288 closed

[2022-11-16 07:42] DreamWuGit opened #314 "handle ErrorInsufficientBalance state"
PR https://github.com/privacy-scaling-explorations/zkevm-specs/pull/313 works on it !!

[2022-11-17 13:19] aguzmant103 commented on #289
@Brechtpd we have this task on our backlog to review MPT Specs. By any chance are you interested in taking this one?

[2022-11-17 15:37] Brechtpd commented on #289
Sure thing, can start working on this next week.

[2022-11-17 15:49] miha-stopar commented on #289
@Brechtpd if it helps we can have a call before you begin, maybe just to go briefly over the content.

[2022-11-17 17:09] aguzmant103 commented on #289
Yes, thank you so much! @Brechtpd also helps with alignment on overall approach

[2022-11-18 07:23] ed255 commented on #269
@Brechtpd mentioned that he will be working on this

[2022-11-23 12:32] #306 closed

[2022-11-23 13:23] #302 closed

[2022-11-23 13:53] ChihChengLiang opened #318 "Precompile: 0x01 ecRecover"

[2022-11-23 13:53] ChihChengLiang opened #319 "Precompile: 0x02 SHA2-256"

[2022-11-23 13:54] ChihChengLiang opened #320 "Precompile: 0x03 RIPEMD-160"
Not sure if we have an existing circuit implementation.

[2022-11-23 13:56] ChihChengLiang opened #321 "Precompile: 0x04 identity"

[2022-11-23 13:56] ChihChengLiang opened #322 "Precompile: 0x05 modexp"

[2022-11-23 13:56] ChihChengLiang opened #323 "Precompile: 0x06 ecAdd"
Probably some of the wrong curve circuit logic would be useful here. https://github.com/privacy-scaling-explorations/halo2wrong

[2022-11-23 13:58] ChihChengLiang opened #324 "Precompile: 0x07 ecMul"

[2022-11-23 13:59] ChihChengLiang opened #325 "Precompile: 0x08 ecPairing"
@yi-sun might have related work https://github.com/yi-sun/circom-pairing

[2022-11-23 14:00] ChihChengLiang opened #326 "Precompile: 0x09 blake2f"

[2022-11-23 14:13] ed255 commented on #318
For this precompile we should leverage on the work done in halo2wrong: the ECDSA verification: https://github.com/privacy-scaling-explorations/halo2wrong/blob/63bde545d934e69c806ef9bc8b18f03f6ec0fe8e/ecdsa/src/ecdsa.rs#L91

The linked ECDSA verification circuit only passes the constraints when the verification succeeds.  In `ecRecover` an invalid signature can be used, so the verification circuit

[2022-11-23 14:17] ed255 commented on #319
There's a sha256 circuit implementation in the halo2 repository (from zcash) which we should probably use for this precompile: https://github.com/privacy-scaling-explorations/halo2/blob/main/halo2_gadgets/src/sha256.rs

[2022-11-23 15:01] CPerezz commented on #319
Agree! Let's make sure anyway that the sponge config parameters are indeed the same ones as we do need and this kind of stuff!

[2022-11-23 16:51] CPerezz commented on #325
Hey @yi-sun. I'd suggest to first try to spec out the pairing precompile circuit and make a PR with the python spec to https://github.com/privacy-scaling-explorations/zkevm-specs

From there, we can move on and start an impl here! :smile:

[2022-11-23 18:25] Brechtpd commented on #319
Will plug my implementation as a possible candidate as well: https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/756

Should be significantly faster than the halo2 implementation and I think the implementation is also simpler (more straightforward implementation on bits), however at the cost of needing more columns (~130) (though I'm not sure how the implementations compare based o

[2022-11-23 18:53] CPerezz commented on #321
I think we can leaverage a lot of work if we reuse the `CallDataCopy` or similar opcodes and try to adapt it or take major parts of it.
See: https://github.com/privacy-scaling-explorations/zkevm-specs/blob/master/src/zkevm_specs/evm/execution/calldatacopy.py and also CopyCircuit might help too: https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/main/zkevm-circuits/src/copy_circuit

[2022-11-24 12:04] aguzmant103 commented on #268
Next steps: Edu or Adria to check the changes and confirm the additions are sufficient. Afterwards we can close this issue.

[2022-11-24 13:14] aguzmant103 commented on #321
This includes creating a new namespace for identity pre-compile

[2022-11-24 13:41] han0110 commented on #321
Currently we store the information of return data only with a tuple `(LastCalleeId, LastCalleeReturnDataOffset, LastCalleeReturnDataLength)`, then read the memory from last callee directly only when `RETURNDATACOPY` is called. It works well because last callee already ends and the memory should be immutable.

However, this precompile replaces current return data with specified range memory of curr

[2022-11-24 14:52] CPerezz commented on #321
Makes complete sense! Thanks for sharing here @han0110

I think with this @ashWhiteHat should be able to build up the specs and later implement this.

[2022-11-25 15:21] miha-stopar commented on #268
Yes, this is not ready yet, it is being implemented in https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/914.

[2022-11-27 21:47] eliseygusev commented on #259
Hey, @ed255 would love to partially help with that issue, can I do that? As far as I understand one would just need to update the spec using AccountFieldTag.NonExisting, am I right? Is there a catch?
Also, was wondering about the workflow overall, does one also need to update circuits or the updates are done separately?

[2022-11-28 05:17] silathdiir opened #327 "Implement opcode `EXTCODESIZE` in Spec"
Please help assign this issue to me if no one is working on this opcode. Thanks.

[2022-11-30 15:22] Brechtpd commented on #269
I'm currently working on the MPT spec reviewing but if you're waiting on this I can prioritize it (should also be something I can get done faster I guess).

[2022-11-30 16:51] ed255 commented on #268
I have reviewed https://github.com/privacy-scaling-explorations/zkevm-specs/blob/5cda455650b27d25dc9e3472c387f4b3e1942c3d/specs/mpt/scope.md

I see that the hackmd contains 4 cases in `Insert when branching occurs in L` that are not in the `scope.md`; I would like to understand if they are covered by other cases that are equivalent, or they are missing?

I've also checked https://github.com/privac

[2022-11-30 19:50] CPerezz commented on #269
I think the MPT spec is significantly more prio than this. Anyway @ed255 could you confirm??